/* h1: 3rem
h2: 1.5 rem
body: 1.125rem

layout
max-width: 980px

dark brown: #312614
light brow: #B7832F
grey: #707070
white; #FFF*/

body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    color: #707070;
}


/* from min width 400px up to 649px  WE HAVE TO PUT THEM IN INCREASING ORDER WHEN USING MIN */


/* @media (min-width: 400px) and (max-width: 649px) {
    body {
        background: purple;
    }
} */


/* @media (min-width: 500px) and (orientation: landscape) {
    body {
        background: palegreen;
    }
} */


/* from min width  650px */


/* @media (min-width: 650px) {
    body {
        background: orange;
    }
} */


/* typography */

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #b7835f;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}


/* layout */

img {
    max-width: 100%;
    /* the image does not get bigger than its original size. it wont be blurry */
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

@media (max-width: 600px) {
    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
}

.col-bg {
    background: #312614;
    color: #fff;
    padding: 1em;
}